.sp {
    background: pink;
    color: red;
}

div p {
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

p.b1 {
    border: medium double rgb(250, 0, 255);
}

p.b2 {
    border-top: 5 thick #ff0000;
    border-left: thin solid blue;
    border-bottom: thick groove green;
    border-right: 1 dashed blue;
}

p.b3 {
    border-style: solid;
    border-right-width: 15px;
}


p.margin {
    margin: 1cm 0cm 1cm 2cm;
}

p.small {
    line-height: 0.4cm
}

p.big {
    line-height: 0.9cm
}


ul.a {
    list-style-type: upper-roman;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}