.div1{
position:absolute;
left:10;
top:10;
width:100px;
height:100px;
background-color:pink;
overflow:hidden;
cursor:move;
}


.div2{
position:absolute;
left:50;
top:20;
width:100px;
height:50px;
background-color:gray;
overflow:scroll;
cursor:pointer;
}